@using Microsoft.AspNetCore.Components.Web
@using Weather.Models
@using Weather.Services
@inject ResponseService Service

<!--h3 class="text-center">Weather Component</!--h3-->
<div class="text-center">
    <h1>@Service.GetResponse().Weather[0].Main</h1>
</div>
<div class="text-center">
    <h2>@Service.GetResponse().Main.Temp</h2>
</div>
<div class="text-center">
    <h3>@Service.GetResponse().Weather[0].Description</h3>
</div>

@code {

}